@{
    ViewBag.Title = "Index";
}
 
<div>
@using (Ajax.BeginForm("OrderSearch", new AjaxOptions { UpdateTargetId = "searchresults"}))
{
    <input type="text" name="clientName" />
    <input type="text" name="productName" />
    <input type="text" name="managerName" />
    
    <input type="submit" value="Поиск" />
}
@Html.Partial("OrderSearch")
</div>
